<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sq.mall.mapper.SmsCouponProductRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sq.mall.pojo.entity.SmsCouponProductRelation">
        <id column="id" property="id" />
        <result column="coupon_id" property="couponId" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="product_sn" property="productSn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_id, product_id, product_name, product_sn
    </sql>

    <insert id="insertAll">
        INSERT INTO sms_coupon_product_relation (product_id,product_name,product_sn,coupon_id) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.productId,jdbcType=BIGINT},
            #{item.productName,jdbcType=VARCHAR},
            #{item.productSn,jdbcType=VARCHAR},
            #{item.couponId,jdbcType=INTEGER})
        </foreach>
    </insert>
</mapper>
